
body{
	background-image: url('images/forest.png');
}

#arena
{
	background-image: url('images/Ground.png');
	background-size: contain;
	margin: auto;
	width: 1050px;
	padding: 10px;
	margin-top: 30px;
	height: 580px;
}

#game-canvas{
	margin: auto;
	opacity: 0;
	transition: opacity 2s;
	-webkit-box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.76);
    -moz-box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.76);
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.76);
}

#fps
{
	font-family: 'Macondo', cursive;
	position: absolute;
	margin-top: -2em;
	margin-left: 20px;
	z-index: 1;
	color: yellow;
	text-shadow: 1px 1px 1px rgb(0,0,80);
	font-size: 20px;
	display: none;
	opacity: 0;
	transition: opacity 3s;
}

#high-score{

	float: right;
	margin-right: 20px;
	font-family: 'Macondo', cursive;
	margin-top: -2em;
	color: yellow;
	text-shadow: 1px 1px 1px rgb(0,0,80);
	font-size: 20px;
	display: none;
	opacity: 0;
	transition: opacity 3s;
}

#toast{
	font-family: 'Macondo', cursive;
	position: absolute;
	margin-top: 10px;
	width: 1000px;
	font-size: 60px;
	text-align: center;
	color: #ff6;
	text-shadow: 2px 2px 4px rgb(0,0,0);

	display: none;
	opacity: 0;
	transition: opacity 0.5s;
	z-index: 1;
}

#level{

	float: right;
	margin-right: 300px;
	font-family: 'Macondo', cursive;
	margin-top: -2em;
	color: yellow;
	text-shadow: 1px 1px 1px rgb(0,0,80);
	font-size: 20px;
	display: none;
	opacity: 0;
	transition: opacity 3s;
}

#lives{

	float: right;
	margin-right: 20px;
	font-family: 'Macondo', cursive;
	margin-top: -2em;
	color: yellow;
	text-shadow: 1px 1px 1px rgb(0,0,80);
	font-size: 20px;
	display: none;
	opacity: 0;
	transition: opacity 3s;
}

#high-score{

	float: left;
	margin-left: 100px;
	font-family: 'Macondo', cursive;
	margin-top: -2em;
	color: yellow;
	text-shadow: 1px 1px 1px rgb(0,0,80);
	font-size: 20px;
	display: none;
	opacity: 0;
	transition: opacity 3s;
}

#score{
	font-family: 'Macondo', cursive;
	font-size: 44px;
	text-align: center;
	color: #ff0;
	text-shadow: 2px 2px 4px rgba(0,0,80, 1.0);

	display: none;
	opacity: 0;
	transition: opacity 3s;
}

.keys{
	color: blue;
	text-shadow: 1px 1px 1px rgba(255,255,0, 0.5);
	background: rgba(0,0,0,0.2);
	border-radius: 5px;
	margin-left: 10px;
	padding-right: 5px;
	padding-bottom:5px;
	display: inline;
}

#instructions{
	margin-left: 155px;
	padding-left: 5px;
	padding-top: 10px;
	height: 2em;
	font-size: 0.85em;
	display: none;
	opacity: 0;
	transition: opacity 3s;
}

.explanation{
	font-family: 'Macondo', cursive;
	color: #42f4dc;
	text-shadow: 1px 1px 1px rgba(0,0,200, 0.5);
	display: inline;
	margin-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
}

#copyright{
	float: right;
	margin-right: 20px;
	margin-top: -2.3em;
	padding: 2px;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-size: 0.85em;

	display: none;
	opacity: 0;
	transition: opacity 5s;
}

#sound-and-music{
	font-family: 'Macondo', cursive;
	position: absolute;
	margin-left: 5px;
	margin-top: 9px;
	color: #ff0;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	background: rgba(0,0,0,0.1);
	border-radius: 5px;
	padding-top: 2px;
	padding-bottom: 2px;

	display: none;
	opacity: 0;
	transition: opacity 5s;
}

.checkbox-div{
	display: inline;
	text-shadow: 1px 1px 1px blue;
}

#sound-checkbox-div{
	margin-right: 10px;
}

#loading{
	font-family: 'Macondo', cursive;
	position: absolute;
	top: 100px;
	margin-top: 80px;
	width: 1050px;
	height: 100px;
	font-size: 55px;
	text-align: center;
	transition: opacity 3s;
}

#loading-title{
	padding-left: 40px;
	padding-bottom: 30px;
	color: #ff6;
	text-shadow: 2px 2px 4px rbg(0,0,0);

	transition: opacity 3.0s;
	opacity: 0;
	display: none;
}

#loading-animated-gif{
	margin: 0 auto;

	transition: opacity 3.0s;
	opacity: 0;
	display: none;
}

#complete
{
	position: absolute;
	top: 92px;
	margin-left: 25px;
	background: rgba(0,0,0,0.8);
	width: 1000px;
	height: 500px;
	font-family: 'Macondo', cursive;
	text-align: center;

	opacity: 0;

}

#paused-title-highScore{
	color: #ff6;
	font-size: 20px;
	margin-top: 20px;
	text-shadow: 2px 2px 4px rgba(0,0,0, 1.0);
}

#paused
{
	position: absolute;
	top: 92px;
	margin-left: 25px;
	background: rgba(0,0,0,0.8);
	width: 1000px;
	height: 500px;
	font-family: 'Macondo', cursive;
	text-align: center;

	opacity: 0;
	z-index: 10;

}

#paused-title{
	color: #ff6;
	font-size: 55px;
	margin-top: 100px;
	text-shadow: 2px 2px 4px rgba(0,0,0, 1.0);
}

#paused-title-info{
	color: #ff6;
	font-size: 20px;
	margin-top: 20px;
	text-shadow: 2px 2px 4px rgba(0,0,0, 1.0);
}

#low-frames
{
	position: absolute;
	top: 92px;
	margin-left: 30px;
	background: rgba(0,0,0,0);
	width: 500px;
	height: 50px;
	font-family: 'Orbitron', sans-serif;

	opacity: 0;

}

#low-frames-img{
	font-size: 55px;
	width: 50px;
	height: 50px;
	background: url('images/lowFrames.png');
	text-shadow: 2px 2px 4px rgba(0,0,0, 1.0);
}

#low-frames-title-info{
	color: rgb(252,50,41);
	font-size: 15px;
	margin-left: 55px;
	margin-top: -43PX;
}

/* Mobile device css */
.jungleRun-mobile-toast {
	font-family: 'Macondo', cursive;
   position: absolute;
   border-radius: 10px;

   font: 30px fantasy;
   text-align: center;
   text-shadow: 1px 1px 1px rgb(0,0,0);

   color: yellow;

   -webkit-transition: opacity 1s;
   -moz-transition: opacity 1s;
   -o-transition: opacity 1s;
   transition: opacity 1s;

   display: none;
   z-index: 1; 
   opacity: 0;
}

#jungleRun-mobile-start-toast {
	font-family: 'Macondo', cursive;
   width: 1000px;
   height: 500px;
}

#jungleRun-mobile-welcome-toast {
	font-family: 'Macondo', cursive;
   width: 1000px;
   height: 500px;
}

#jungleRun-mobile-instructions {
	font-family: 'Macondo', cursive;
   margin-left: 155px;
   padding-left: 5px;
   padding-top: 10px;
   height: 2em;

   color: #ff0;
   font-size: 0.95em;

   -webkit-transition: opacity 5s;
   -moz-transition: opacity 5s;
   -o-transition: opacity 5s;
   transition: opacity 5s;

   display: none;
   opacity: 0;
}
